
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#heading_main{
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    top: 200px;
}
body {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#game-heading {
    text-align: center;
    margin: 20px 0;
    padding-top: 0px;
    font-size: 2.5em;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* #genre-buttons button {
    text-align: center;
    margin: 20px 17px;
    padding: 20px;
    font-family: "Press Start 2P", system-ui;

} */
#genre-buttons button {
    font-family: "Press Start 2P", system-ui;
    margin: 10px;
    padding: 20px 20px;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* background: linear-gradient(to right, #fb00f3, #ffffff); Gradient from pink to orange */
    background: linear-gradient(45deg, black, transparent);

}

#genre-buttons button:hover {
    background: linear-gradient(to right, #b0e581, #f75fff); /* Reversed gradient on hover */
    color: rgb(0, 0, 0);

}

#game-container {
    background: linear-gradient(45deg, black, transparent);
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px rgb(129 118 118 / 10%);
    width: 80%;
    max-width: 38rem;
    text-align: center;
    color: white;
    cursor: pointer;
}
#game-container:hover{
    background: linear-gradient(to right, #b0e581, #f75fff); /* Reversed gradient on hover */
    color: #000000;
}

#game-choices button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: black;
}

#game-choices button:hover {
    background-color: #a3935f;
    color: #000000;
    
}

@media (max-width: 600px) {
    body {
        background-size: contain; /* Adjusts the image size for smaller screens */
        background-size: 100% 100%; /* Stretches the image */

    }
}
